@import '../../variables';

.gesture-detail-container {
  @include component-basis;

  .title {
    font-size: 28px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    margin-top: 14px;
  }

  .delete-button {
    background-color: $warn-color;
    color: $primary-contrast-color;
    padding: 16px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    width: 150px;

    &:active {
      background-color: darken($warn-color, 15%);
    }
  }
}
