<div class="pipeline-detail-container">
  <div *ngIf="selectedPipeline">
    <div> {{selectedPipeline.name}}</div>
    <div> {{selectedPipeline.description}}</div>
  </div>

  <div class="actions-toolbar" *ngIf="gestures" fxLayout="row">
    <div *ngFor="let gesture of gestures" (click)="startAdding(gesture)" class="gesture" fxLayoutAlign="center center">
      <span>{{gesture.name}}</span>
    </div>
  </div>

  <div class="actions-toolbar" *ngIf="hooks" fxLayout="row">
    <div *ngFor="let hook of hooks" (click)="startAdding(hook, 'hook')" class="hook" fxLayoutAlign="center center">
      <span>{{hook.name}}</span>
    </div>
  </div>

  <div class="actions-toolbar" fxLayour="row" fxLayoutAlign="start center">
    <div class="delete-button" (click)="toggleRemoving()" fxLayoutAlign="center center">
      <span>{{mode === 'REMOVE' ? 'CANCEL REMOVING': 'REMOVE ITEMS'}}</span>
    </div>
    <div (click)="toggleHookAdding()" fxLayoutAlign="center center" class="add-hook-button">
      <span>{{hookAdding? 'CANCEL': 'ADD HOOK'}}</span>
    </div>
    <div *ngIf="hookAdding" fxLayout="row">
      <input type="text" [(ngModel)]="newHook.name" placeholder="Hook name" class="hook-input">
      <input type="text" [(ngModel)]="newHook.address" placeholder="Target address" class="hook-input">
      <input type="text" [(ngModel)]="newHook.message" placeholder="Message" class="hook-input">
      <div class="confirm-hook-button" (click)="confirmNewHook()" fxLayoutAlign="center center">CONFIRM</div>
    </div>
  </div>


  <svg class="graphic-editor"></svg>
</div>
