@import '../../variables';

.dashboard-container {
  @include component-basis;

  .pipelines-container {
    width: 500px;

    .pipeline {
      height: 60px;
      width: 100%;
      padding: 10px;
      cursor: pointer;

      &:hover {
        .arrow-right {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid gray;
      }

      .pipeline-name {
        font-size: 16px;
        font-weight: bold;
      }

      .pipeline-description {
        font-size: 14px;
        font-weight: 300;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      .arrow-right {
        opacity: 0;
        font-size: 20px;
        font-weight: bold;
        color: gray;
      }
    }
  }

  .title {
    font-size: 26px;
    font-weight: bold;
    padding: 24px;
  }

}
