<div class="dashboard-container" fxLayoutAlign="space-around">
  <div class="list-container">
    <div class="title">
      Pipelines
    </div>
    <div class="list-item" *ngFor="let pipeline of pipelines" fxLayoutAlign="space-between"
         (click)="redirectToPipeline(pipeline.id)">
      <div>
        <div class="item-name">{{pipeline.name}}</div>
        <div class="item-description">{{pipeline.description}}</div>
      </div>
      <div fxLayoutAlign="center center" class="arrow-right">
        <span>></span>
      </div>
    </div>
  </div>
  <div class="list-container">
    <div class="title">
      Gestures
    </div>
    <div class="list-item" *ngFor="let gesture of gestures | async" fxLayoutAlign="space-between"
         (click)="redirectToGesture (gesture.id)">
      <div>
        <div class="item-name">{{gesture.name}}</div>
        <div class="item-description">{{gesture.description}}</div>
      </div>
      <div fxLayoutAlign="center center" class="arrow-right">
        <span>></span>
      </div>
    </div>
  </div>
</div>
