@import '../variables';

.toolbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $primary-color;
  color: $primary-contrast-color;
  font-size: 18px;
  height: 60px;
  width: 100vw;
  padding: 10px 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .logo {
    cursor: pointer;
    user-select: none;

    &:active {
      font-weight: bold;
    }
  }

  .name-label {
    padding-left: 15px;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
  }

  .icon-image {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
}
